.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixedAdmin}/dashboard`) Tong quan 
            li 
                a(href=`${prefixedAdmin}/product`) San pham
            li 
                a(href=`${prefixedAdmin}/category`) Danh mục sản phẩm